<!-- START .portfolio -->
<div class="portfolio">
  <h2 class="portfolio__title">Portfolio</h2>
  <div class="portfolio__list">
    <div class="portfolio__item">
      <div class="portfolio__view">
        <a href="https://marseille78.github.io/trust-md/" target="_blank">
          <img src="img/project-1.jpg" alt="project">
        </a>
      </div>
      <div class="portfolio__desc">
        <div class="portfolio__project-title">
          <a href="https://marseille78.github.io/trust-md/" target="_blank">Trust MD</a>
          <span>(Multi-page website)</span>
        </div>
        <div class="portfolio__pages">
          <span>Pages:</span>
          <a href="https://marseille78.github.io/trust-md/" target="_blank">Homepage</a>
          <a href="https://marseille78.github.io/trust-md/product.html" target="_blank">Product</a>
          <a href="https://marseille78.github.io/trust-md/contacts.html" target="_blank">Contacts</a>
          <a href="https://marseille78.github.io/trust-md/test.html" target="_blank">Test</a>
          <a href="https://marseille78.github.io/trust-md/faq.html" target="_blank">FAQ</a>
          <a href="https://marseille78.github.io/trust-md/policies.html" target="_blank">Policies</a>
          <a href="https://marseille78.github.io/trust-md/bonuses.html" target="_blank">Bonuses</a>
          <a href="https://marseille78.github.io/trust-md/testimonials.html" target="_blank">Testimonials</a>
          <a href="https://marseille78.github.io/trust-md/about.html" target="_blank">About</a>
          <a href="https://marseille78.github.io/trust-md/account.html" target="_blank">Account</a>
        </div>
        <div class="portfolio__technologies">
          <span>Technologies:</span>
          HTML, CSS, JavaScript
        </div>
      </div>
    </div>
    <div class="portfolio__item">
      <div class="portfolio__view">
        <a href="https://marseille78.github.io/aviator/" target="_blank">
          <img src="img/project-2.jpg" alt="project">
        </a>
      </div>
      <div class="portfolio__desc">
        <div class="portfolio__project-title">
          <a href="https://marseille78.github.io/aviator/" target="_blank">Aviator</a>
          <span>(Landing page)</span>
        </div>
        <div class="portfolio__technologies">
          <span>Technologies:</span>
          HTML, CSS, JavaScript
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END .portfolio -->