/* base */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #000;
  background-size: 100% auto;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 34px;
  line-height: 51px;
}

h2 {
  font-size: 34px;
  text-align: center;
  line-height: 51px;
}

img {
  display: inline-block;
  max-width: 100%;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.backdrop.opened {
  opacity: 1;
  pointer-events: all;
}

.page__header {
  background-color: #f1f1f1;
}

.page__section {
  padding: 60px 0;
}

.page__section--portfolio {
  background-color: #f1f1f1;
}

/* .footer */

/* .header */

.header {
  padding-top: 46px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__open-menu {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__open-menu svg {
  height: 20px;
  width: 33px;
}

.header__title {
  margin-bottom: 20px;
}

.header__title span {
  font-size: 28px;
  line-height: 42px;
}

.header__desc {
  margin-bottom: 20px;
}

.header__view img {
  display: block;
}

/* .contacts */

/* .menu */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 375px;
  max-width: 90%;
  background-color: #fff;
  padding: 46px 60px 30px 30px;
  -webkit-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.menu.opened {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.menu__close-menu {
  position: absolute;
  top: 46px;
  right: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__close-menu svg {
  fill: #000;
  height: 22px;
  width: 22px;
  -webkit-transition: fill 300ms ease-in-out;
  -o-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.menu__close-menu:hover svg {
  fill: #828282;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  text-decoration: none;
  color: #828282;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.menu__link:hover {
  color: #090909;
}

.menu__link.active {
  color: #090909;
}

/* .portfolio */

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* .services */

.services__item:not(:last-child) {
  margin-bottom: 60px;
}

.services__item-img {
  margin-bottom: 30px;
}

.services__item-img img {
  height: 68px;
  width: auto;
  display: block;
}

.services__item-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 10px;
}