/* base */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #000;
  background-size: 100% auto;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 34px;
  line-height: 51px;
}

h2 {
  font-size: 34px;
  text-align: center;
  line-height: 51px;
}

img {
  display: inline-block;
  max-width: 100%;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.backdrop.opened {
  opacity: 1;
  pointer-events: all;
}

.page__header {
  background-color: #f1f1f1;
  position: relative;
  z-index: 2;
}

.page__section {
  padding: 60px 0;
  background-color: #fff;
}

.page__section--portfolio {
  background-color: #f1f1f1;
}

.page__footer {
  padding: 60px 0;
}

/* .helpers */

/* .footer */

/* .header */

.header {
  padding-top: 46px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__top.active {
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.25);
}

.header__open-menu {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__open-menu svg {
  height: 20px;
  width: 33px;
}

.header__open-menu:hover svg {
  fill: #828282;
}

.header__title {
  margin: 0 0 20px;
}

.header__title span {
  font-size: 28px;
  line-height: 42px;
  display: block;
}

.header__desc {
  margin-bottom: 20px;
}

.header__view img {
  display: block;
  width: 300px;
  margin: 0 auto;
}

/* .btn */

.btn {
  background-color: #070707;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  padding: 7px 22px;
  border-radius: 20px;
  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.btn:hover {
  background-color: #828282;
}

/* .contacts */

.contacts {
  text-align: center;
}

.contacts__title {
  margin: 0 0 20px;
}

.contacts__desc {
  margin-bottom: 20px;
}

.contacts__btn {
  margin-bottom: 70px;
}

.contacts__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__social-item {
  display: inline-block;
}

.contacts__social-link svg {
  height: 40px;
  width: 40px;
  fill: #000;
  -webkit-transition: fill 300ms ease-in-out;
  -o-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.contacts__social-link:hover svg {
  fill: #828282;
}

/* .menu */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 375px;
  max-width: 90%;
  background-color: #fff;
  padding: 46px 60px 30px 30px;
  -webkit-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  z-index: 20;
}

.menu.opened {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.menu__close-menu {
  position: absolute;
  top: 46px;
  right: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__close-menu svg {
  fill: #000;
  height: 22px;
  width: 22px;
  -webkit-transition: fill 300ms ease-in-out;
  -o-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.menu__close-menu:hover svg {
  fill: #828282;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  text-decoration: none;
  color: #828282;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.menu__link:hover {
  color: #090909;
}

.menu__link.active {
  color: #090909;
}

/* .portfolio */

.portfolio__title {
  margin: 0 0 50px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portfolio__item {
  max-width: 930px;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 55px;
}

.portfolio__view {
  margin-bottom: 30px;
}

.portfolio__view img {
  display: block;
}

.portfolio__project-title {
  margin-bottom: 8px;
}

.portfolio__project-title a {
  color: #000;
  font-size: 27px;
}

.portfolio__project-title a:hover {
  text-decoration: none;
}

.portfolio__project-title span {
  font-size: 14px;
  font-style: italic;
  display: block;
}

.portfolio__pages {
  margin-bottom: 8px;
}

.portfolio__pages span {
  font-weight: 600;
}

.portfolio__pages a {
  color: #000;
  font-style: italic;
}

.portfolio__pages a:hover {
  text-decoration: none;
}

.portfolio__pages a:not(:last-child)::after {
  content: ",";
}

.portfolio__technologies {
  font-style: italic;
}

.portfolio__technologies span {
  font-weight: 600;
  font-style: normal;
}

/* .services */

.services__item:not(:last-child) {
  margin-bottom: 60px;
}

.services__item-img {
  margin-bottom: 30px;
}

.services__item-img img {
  height: 68px;
  width: auto;
  display: block;
}

.services__item-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  /* base $lg */

  h1 {
    font-size: 44px;
    line-height: 66px;
  }

  .page__section {
    padding: 90px 0;
    padding-top: 230px;
    margin-top: -140px;
    position: relative;
  }

  .page__footer {
    padding: 90px 0;
  }

  /* .helpers $lg */

  .d-lg-none {
    display: none !important;
  }

  /* .header $lg */

  .header {
    padding-top: 160px;
  }

  .header__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    padding: 0 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(241, 241, 241, 0.9);
    z-index: 5;
  }

  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__text {
    max-width: 500px;
    -webkit-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    transform: translateY(-70px);
  }

  .header__title span {
    font-size: 44px;
    line-height: 66px;
  }

  /* .menu $lg */

  .menu {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    width: auto;
    max-width: none;
    padding: 0;
    background-color: transparent;
  }

  .menu__item {
    display: inline-block;
  }

  .menu__item:not(:first-child) {
    margin-left: 50px;
  }

  .menu__link {
    font-size: 14px;
    color: #000;
    font-weight: 500;
  }

  .menu__link:hover {
    color: #606060;
  }

  .menu__link.active {
    color: #606060;
  }

  /* .portfolio $lg */

  .portfolio__title {
    margin: 0 0 70px;
  }

  .portfolio__item:not(:last-child) {
    margin-bottom: 90px;
  }

  /* .services $lg */

  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .services__item {
    width: calc((100% - 60px) / 3);
  }

  .services__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}