<!-- START .services -->
<div class="services">
  <div class="services__item" data-aos="flip-up">
    <div class="services__item-img">
      <img src="img/service-1.svg" alt="service" />
    </div>
    <div class="services__item-title">
      Website and web application development
    </div>
    <div class="services__item-desc">
      Creating and adapting websites for different devices.
    </div>
  </div>
  <div class="services__item" data-aos="flip-up">
    <div class="services__item-img">
      <img src="img/service-2.svg" alt="service" />
    </div>
    <div class="services__item-title">
      UI/UX design and interactive elements
    </div>
    <div class="services__item-desc">
      Developing interactive elements: animations, transitions, effects to
      improve the user experience.
    </div>
  </div>
  <div class="services__item" data-aos="flip-up">
    <div class="services__item-img">
      <img src="img/service-3.svg" alt="service" />
    </div>
    <div class="services__item-title">
      Responsive design and cross-browser compatibility
    </div>
    <div class="services__item-desc">
      Ensuring correct display on different devices.
    </div>
  </div>
</div>
<!-- END .services -->
