<!-- START .contacts -->
<div class="contacts">
  <h2 class="contacts__title">Contacts</h2>
  <div class="contacts__desc">
    Want to know more or just chat?
    <br>
    You are welcome!
  </div>
  <div class="contacts__btn">
    @@include("../btn/btn.html")
  </div>
  <div class="contacts__social">
    <ul class="contacts__social-list">
      <li class="contacts__social-item">
        <a href="https://www.linkedin.com/in/ruslan-boiko/" class="contacts__social-link" target="_blank">
          <svg>
            <use href="img/sprite.svg#linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="contacts__social-item">
        <a href="mailto:boyko.ruslan78@gmail.com" class="contacts__social-link">
          <svg>
            <use href="img/sprite.svg#email"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- END .contacts -->