// COLORS
$c_text: #000;
$c_bg: #fff;
$c_bg_second: #f1f1f1;
// $c_brand: #ffe151;
// $c_link: tomato;
// $c_accent: #F95109;

// Font-family
$ff_base: "Poppins", sans-serif;

// Other
$anim: ease-in-out 300ms;

// Brakepoints (min-width)
$xxs: "360px";
$xs: "480px";
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1400px";
$xxxl: "1600px";
$_xs: "479px";
$_sm: "575px";
$_md: "767px";
$_lg: "991px";
$_xl: "1199px";
$_xxl: "1399px";

$anim: 300ms ease-in-out;